:root {
  --color-1: #121212;
  --color-2: #ffffff;
  --color-3: #f8f8f8;
  --icon-hover: #f0cc84;
  --background-color: #fefefe;
  --navbar-font-size: 16px;
}

body {
  display: block;
  padding: 0 10vw;
}

input,
textarea {
  font-weight: 500;
}

.input-product {
  width: 100% !important;
}
input[type="number"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 10px 0 20px;
  text-transform: capitalize;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Inter", sans-serif;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  width: 100%;
  height: 270px;
  resize: none;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 10px 0 20px;
  text-transform: capitalize;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "Inter", sans-serif;
}

.product-info {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-2);
  background-size: cover;
  border-radius: 10px;
  grid-row: span 2;
  text-shadow: 0 0 10px var(--color-2);
}

.text {
  text-transform: capitalize;
  color: var(--color-1);
  font-size: 20px;
  font-weight: 500;
}

.upload-images,
.select-sizes {
  background: var(--color-2);
  border-radius: 10px;
  padding: 20px;
}

.text .fa-camera {
  margin-right: 10px;
}

/* .camera {
  cursor: pointer;
} */

.upload-catalogues {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.upload-image {
  width: 100%;
  height: 100px;
  background: #f4f4f4;
  cursor: pointer;
  background-size: cover;
}

.upload-image:hover {
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
}

.sizes {
  margin-top: 40px;
}

.size-checkbox {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  color: #383838;
}

.size-checkbox::after {
  content: attr(value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 16px;
}
.size-checkbox:checked {
  background: var(--color-1);
  color: var(--color-2);
}

.product-price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-price input {
  margin: 0;
}
.buttons {
  margin: 20px 0 50px;
}

.btn {
  padding: 10px 30px;
  text-transform: capitalize;
  color: var(--color-2);
  background: var(--color-1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

#save-btn {
  background: #a9a9aa;
}
